[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "surveygraph"]
	path = surveygraph
	url = https://github.com/surveygraph/surveygraphr
